/* Styling the whole webpage */
.App {
  background-color: #EFD2CB;
  font-family: 'Helvetica', sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  @media screen and (max-width: 1000px) {
    font-size: 5vmin;
  }
}

/* Styling the main header of the webpage */
#mainHeader {
  padding: 10px;
  background-color:#aa7160;
  font-size: 30px;
  @media screen and (max-width: 1000px) {
    font-size: 7vmin;
  }
}

/* Styling the font colour of the legend and the 'other' genres list */
.text-color-class, .other-list {
  color: #5A5A5A;
}

/* Styling the list of 'other' genres
.other-list {
  font-size:20px;
  padding:10px;
  background-color: #d49f90;
  border: 1px solid black;
  border-radius: 20px;
  @media screen and (max-width: 1000px) {
    font-size: 15px;
  }
}


